{% extends 'blog/base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block h1 %}{{ blog.title }}{% endblock %}
{% block content %} 
<article>
	<h2 class='whiteColor'>{{ blog.author }}</h2>
	<p class='whiteColor'>Posted on {{ blog.posted }}</p>
	<p class='whiteColor'>{{ blog.content }}</h2>
</article>

<h2 class='whiteColor'>Comments</h2>
{% for comment in blog.comment_set.all %}
	<article class='whiteColor'>
		<h3>{{ comment.commenter }}</h3>
		<p>{{ comment.content }}</h3>
		<p>{{ comment.posted }}</p>
	</article>
{% endfor %}
{% endblock %}
